.button {
  padding: 10px 18px;
  font-size: 15px;
  font-weight: 700;
}

.primary {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
}

.secondary {
}

.text {
}

.medium {
  font-size: 15px;
}

.small {
  padding: 5px 8px;
  font-size: 12px;
}
