.input {
  padding: 10px 18px;
  display: flex;
  background-color: unset;
  border: none;
  width: 100%;
  outline: none;
}

.primary {
  border-width: 2px;
  border-style: solid;
  border-color: #272727;
  border-radius: 10px;
  font-weight: 600;
  color: var(--accent-color);
}

.input::placeholder {
  font-weight: 600;
}

.primary::placeholder {
  color: #272727;
}
